body {
    font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
  color: #7395AE;  
}

.cambioMonedas{
    font-size: 1rem;
}
.container h1{
    margin-top: 1rem;
}
.imgPais {
    width: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    background-color: rgb(242, 245, 249);
}

.imgPaisElegido{
    width: 30px;
}

.paisElegido{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.paisesConDias{
    display: flex;
    margin-top: 1rem;
}